@font-face {
  font-family: "frutiger-neue";
  src: url("../fonts/frutiger-neue/1461aeb8-9b58-4c92-94fe-7969267a24fb.eot?#iefix");
  src: url("../fonts/frutiger-neue/1461aeb8-9b58-4c92-94fe-7969267a24fb.eot?#iefix") format("eot"), url("../fonts/frutiger-neue/835a166c-157e-46da-91fa-031d8f83f1a3.woff") format("woff"), url("../fonts/frutiger-neue/dbd1d539-bc67-4b94-bc06-083ec9712853.ttf") format("truetype"), url("../fonts/frutiger-neue/28d8438f-4ed4-49ad-a830-70271cc33028.svg#28d8438f-4ed4-49ad-a830-70271cc33028") format("svg");
  font-weight: normal; }

@font-face {
  font-family: "frutiger-neue";
  src: url("../fonts/frutiger-neue/fc777a37-cc70-4b99-bf2a-c24669de9f92.eot?#iefix");
  src: url("../fonts/frutiger-neue/fc777a37-cc70-4b99-bf2a-c24669de9f92.eot?#iefix") format("eot"), url("../fonts/frutiger-neue/67be8d50-c4d0-4d17-879c-1deeb5f8870a.woff") format("woff"), url("../fonts/frutiger-neue/985128da-2b69-4224-8d28-daa9b41222e0.ttf") format("truetype"), url("../fonts/frutiger-neue/e7176ba8-b58a-48bd-b344-766a019ad299.svg#e7176ba8-b58a-48bd-b344-766a019ad299") format("svg");
  font-weight: bold; }

@font-face {
  font-family: "frutiger-neue";
  src: url("../fonts/frutiger-neue/0006b597-d834-4c7c-8875-d60bc1973ff6.eot?#iefix");
  src: url("../fonts/frutiger-neue/0006b597-d834-4c7c-8875-d60bc1973ff6.eot?#iefix") format("eot"), url("../fonts/frutiger-neue/3f1277b6-5ad4-4938-b22a-36afc73c1894.woff") format("woff"), url("../fonts/frutiger-neue/935338c1-ec39-4dba-ba99-68d0d31f1e57.ttf") format("truetype"), url("../fonts/frutiger-neue/00bb5192-0909-4fd0-8537-af541de6bc42.svg#00bb5192-0909-4fd0-8537-af541de6bc42") format("svg");
  font-weight: 800; }

@font-face {
  font-family: "kipp";
  src: url("../fonts/kipp/fressnapfkipppronoone.eot");
  src: url("../fonts/kipp/fressnapfkipppronoone.eot?#iefix") format("embedded-opentype"), url("../fonts/kipp/fressnapfkipppronoone.woff") format("woff"), url("../fonts/kipp/fressnapfkipppronoone.ttf") format("truetype"), url("../fonts/kipp/fressnapfkipppronoone.svg#kipp") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons_font/fonts/icomoon.eot");
  src: url("../fonts/icons_font/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icons_font/fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icons_font/fonts/icomoon.woff") format("woff"), url("../fonts/icons_font/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before,
[data-icon-after]:after,
.navi:not(.central) > li.cats > a > span:after,
.navi:not(.central) > li.cats > span:after,
.navi:not(.central) > li.dogs > a > span:after,
.navi:not(.central) > li.dogs > span:after,
.navi:not(.central) > li.rodents > a > span:after,
.navi:not(.central) > li.rodents > span:after,
.navi:not(.central) > li.birds > a > span:after,
.navi:not(.central) > li.birds > span:after,
.navi:not(.central) > li.aquarium > a > span:after,
.navi:not(.central) > li.aquarium > span:after,
.navi:not(.central) > li.reptile > a > span:after,
.navi:not(.central) > li.reptile > span:after,
.navi:not(.central) > li.garden > a > span:after,
.navi:not(.central) > li.garden > span:after {
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[data-icon-after]:after, .navi:not(.central) > li.cats > a > span:after,
.navi:not(.central) > li.cats > span:after, .navi:not(.central) > li.dogs > a > span:after,
.navi:not(.central) > li.dogs > span:after, .navi:not(.central) > li.rodents > a > span:after,
.navi:not(.central) > li.rodents > span:after, .navi:not(.central) > li.birds > a > span:after,
.navi:not(.central) > li.birds > span:after, .navi:not(.central) > li.aquarium > a > span:after,
.navi:not(.central) > li.aquarium > span:after, .navi:not(.central) > li.reptile > a > span:after,
.navi:not(.central) > li.reptile > span:after, .navi:not(.central) > li.garden > a > span:after,
.navi:not(.central) > li.garden > span:after {
  content: attr(data-icon-after); }

[class^="icon-"], .navi:not(.central) > li > div > .second-level-navi > li > a > span:after,
.navi:not(.central) > li > div > .second-level-navi > li > span:after, .navi.central > li > a > span:after, .navi.central > li > div > .second-level-navi > li > a > span:after, .breadcrumb > li > a > span:after, .main > .store-finder:before, footer > .delivery-options:before,
footer > .return-options:before,
footer > .newsletter-link:before,
footer > .help-link:before, .filtering > .select-icon, .filtering > a > span:before, .products-set > .load-more-products:before, .main > .product-video > span:after, .search > label > .form-submit:before, .navi:not(.central) > li.cats > a > span:after,
.navi:not(.central) > li.cats > span:after, .navi:not(.central) > li.dogs > a > span:after,
.navi:not(.central) > li.dogs > span:after, .navi:not(.central) > li.rodents > a > span:after,
.navi:not(.central) > li.rodents > span:after, .navi:not(.central) > li.birds > a > span:after,
.navi:not(.central) > li.birds > span:after, .navi:not(.central) > li.aquarium > a > span:after,
.navi:not(.central) > li.aquarium > span:after, .navi:not(.central) > li.reptile > a > span:after,
.navi:not(.central) > li.reptile > span:after, .navi:not(.central) > li.garden > a > span:after,
.navi:not(.central) > li.garden > span:after, .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"]:before, .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"]:before, .rating > [class^="star-"]:before,
.rating > [class*=" star-"]:before, .delivery-type.forwarding:before, .delivery-status > .indicator > span:before, .remember-button:before, .add-to-cart-button:after, [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*  http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll; }

body {
  font-family: "frutiger-neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eae9e7;
  color: #333333;
  overflow-x: hidden;
  position: relative; }

a, .search > label > .search-field, .filtering > select, .remember-button:before {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }

a:active {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.navi:not(.central) > li > a, .navi:not(.central) > li > div > .second-level-navi > li > a, .navi.central > li > a, .navi.central > li > div > .second-level-navi > li > a, footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .main > .store-finder, .main > .product-video, .filtering > a, .products-set > .load-more-products, .header > .toggle-navigation, .header > .shopping-cart, .search > label > .search-field, .social-bar, .pbox, .breadcrumb > li > a, .filtering > select, .products-set > ul > li > a, .remember-button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }

.search > label > .search-field, .search > label > .form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.header:after, .main:after, .navi-panel:after, footer:after, footer > .footer-links > ul:after, .payment-options:after, .social-bar:after, .breadcrumb:after, .filtering:after, .products-set:after, .products-set > ul > li > a:after, .products-set > ul > li > a > .description > div:after, .delivery-status > .indicator:after {
  content: "";
  display: table;
  clear: both; }

@media screen {
  .search > label > span, .m-carousel > .m-carousel-controls.m-carousel-bulleted > a > span, .remember-button > span {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); } }

footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .main > .store-finder, .main > .product-video, .filtering > a, .products-set > .load-more-products, .search > label > .search-field, .m-carousel.m-fluid > .m-carousel-inner > .m-item, .payment-options, .payment-options > li, .pbox > .description, .m-carousel.m-carousel-products > .m-carousel-inner > .m-item .pbox, .filtering > select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* A place for links, buttons, tabs and other things that react on user input */
a {
  color: #004b73;
  display: inline-block;
  padding: 0.1em 0.25em;
  margin: -0.1em -0.25em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:visited {
    color: #5b385f; }
  a:hover, a:focus {
    color: #003856;
    background-color: rgba(248, 236, 26, 0.3); }
  a:active {
    color: white;
    background-color: #60843e; }

.navi:not(.central) > li > a, .navi:not(.central) > li > div > .second-level-navi > li > a, .navi.central > li > a, .navi.central > li > div > .second-level-navi > li > a {
  display: block;
  text-decoration: none; }

.navi:not(.central) > li > div > .second-level-navi > li > a > span,
.navi:not(.central) > li > div > .second-level-navi > li > span, .navi.central > li > a > span, .navi.central > li > div > .second-level-navi > li > a > span {
  display: block;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 3rem;
  background-color: white;
  color: #196428;
  font-weight: bold;
  padding: 0 0 0 3.5rem;
  position: relative; }

footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .main > .store-finder, .main > .product-video, .filtering > a, .products-set > .load-more-products {
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
  text-align: left;
  padding-left: 3rem;
  height: 3rem;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: -moz- none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: -moz- none;
  user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  footer > .delivery-options:hover,
  footer > .return-options:hover,
  footer > .newsletter-link:hover,
  footer > .help-link:hover, .main > .store-finder:hover, .main > .product-video:hover, .filtering > a:hover, .products-set > .load-more-products:hover, footer > .delivery-options:focus,
  footer > .return-options:focus,
  footer > .newsletter-link:focus,
  footer > .help-link:focus, .main > .store-finder:focus, .main > .product-video:focus, .filtering > a:focus, .products-set > .load-more-products:focus, footer > .delivery-options:active,
  footer > .return-options:active,
  footer > .newsletter-link:active,
  footer > .help-link:active, .main > .store-finder:active, .main > .product-video:active, .filtering > a:active, .products-set > .load-more-products:active {
    cursor: pointer; }
  footer > .delivery-options:hover,
  footer > .return-options:hover,
  footer > .newsletter-link:hover,
  footer > .help-link:hover, .main > .store-finder:hover, .main > .product-video:hover, .filtering > a:hover, .products-set > .load-more-products:hover, footer > .delivery-options:focus,
  footer > .return-options:focus,
  footer > .newsletter-link:focus,
  footer > .help-link:focus, .main > .store-finder:focus, .main > .product-video:focus, .filtering > a:focus, .products-set > .load-more-products:focus {
    background-color: #c3d255;
    color: white;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e; }
  footer > .delivery-options:active,
  footer > .return-options:active,
  footer > .newsletter-link:active,
  footer > .help-link:active, .main > .store-finder:active, .main > .product-video:active, .filtering > a:active, .products-set > .load-more-products:active {
    background-color: #196428;
    -webkit-box-shadow: inset 0 -0.25rem 1.25rem #143800;
    -moz-box-shadow: inset 0 -0.25rem 1.25rem #143800;
    box-shadow: inset 0 -0.25rem 1.25rem #143800; }
  footer > .delivery-options > span,
  footer > .return-options > span,
  footer > .newsletter-link > span,
  footer > .help-link > span, .main > .store-finder > span, .main > .product-video > span, .filtering > a > span, .products-set > .load-more-products > span {
    font-family: "frutiger-neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    height: 1rem;
    line-height: 3rem; }

footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed;
  color: #333333;
  font-size: 0.65rem;
  text-transform: uppercase;
  position: relative; }
  footer > .delivery-options > span,
  footer > .return-options > span,
  footer > .newsletter-link > span,
  footer > .help-link > span {
    padding-top: 0.05rem; }
  footer > .delivery-options:hover,
  footer > .return-options:hover,
  footer > .newsletter-link:hover,
  footer > .help-link:hover, footer > .delivery-options:focus,
  footer > .return-options:focus,
  footer > .newsletter-link:focus,
  footer > .help-link:focus {
    background-color: white;
    color: #196428;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 1px #eaedec, inset 0 1px 1px #edeeed; }
    footer > .delivery-options:hover:before,
    footer > .return-options:hover:before,
    footer > .newsletter-link:hover:before,
    footer > .help-link:hover:before, footer > .delivery-options:focus:before,
    footer > .return-options:focus:before,
    footer > .newsletter-link:focus:before,
    footer > .help-link:focus:before {
      color: #196428; }
  footer > .delivery-options:active,
  footer > .return-options:active,
  footer > .newsletter-link:active,
  footer > .help-link:active {
    background-color: #999999;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.35); }

footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .main > .store-finder, .main > .product-video, .filtering > a, .products-set > .load-more-products, .navi:not(.central) > li > div > .second-level-navi > li > a > span:after,
.navi:not(.central) > li > div > .second-level-navi > li > span:after, .navi.central > li > a > span:after, .navi.central > li > div > .second-level-navi > li > a > span:after, .breadcrumb > li > a > span:after, .filtering > select {
  background-color: rgba(96, 132, 62, 0);
  background: -moz-linear-gradient(top, rgba(96, 132, 62, 0) 0%, #60843e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(96, 132, 62, 0)), color-stop(100%, #60843e));
  background: -webkit-linear-gradient(top, rgba(96, 132, 62, 0) 0%, #60843e 100%);
  background: -o-linear-gradient(top, rgba(96, 132, 62, 0) 0%, #60843e 100%);
  background: -ms-linear-gradient(top, rgba(96, 132, 62, 0) 0%, #60843e 100%);
  background: linear-gradient(to bottom, rgba(96, 132, 62, 0) 0%, #60843e 100%);
  background-color: #8eaa3c; }

.main > .store-finder:before, footer > .delivery-options:before,
footer > .return-options:before,
footer > .newsletter-link:before,
footer > .help-link:before, .filtering > .select-icon, .filtering > a > span:before, .products-set > .load-more-products:before {
  background-color: #758c30;
  background: -moz-linear-gradient(top, #758c30 0%, #4e6b32 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #758c30), color-stop(100%, #4e6b32));
  background: -webkit-linear-gradient(top, #758c30 0%, #4e6b32 100%);
  background: -o-linear-gradient(top, #758c30 0%, #4e6b32 100%);
  background: -ms-linear-gradient(top, #758c30 0%, #4e6b32 100%);
  background: linear-gradient(to bottom, #758c30 0%, #4e6b32 100%); }

footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .remember-button:before {
  background-color: rgba(219, 221, 221, 0);
  background: -moz-linear-gradient(top, rgba(219, 221, 221, 0) 0%, #dbdddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 221, 221, 0)), color-stop(100%, #dbdddd));
  background: -webkit-linear-gradient(top, rgba(219, 221, 221, 0) 0%, #dbdddd 100%);
  background: -o-linear-gradient(top, rgba(219, 221, 221, 0) 0%, #dbdddd 100%);
  background: -ms-linear-gradient(top, rgba(219, 221, 221, 0) 0%, #dbdddd 100%);
  background: linear-gradient(to bottom, rgba(219, 221, 221, 0) 0%, #dbdddd 100%);
  background-color: #f7f7f7; }

.add-to-cart-button {
  background-color: #e7001f;
  background-image: -moz-linear-gradient(left, #b1181e, #e7001f);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#b1181e), to(#e7001f));
  background-image: -webkit-linear-gradient(left, #b1181e, #e7001f);
  background-image: -o-linear-gradient(left, #b1181e, #e7001f);
  background-image: linear-gradient(to right, #b1181e, #e7001f); }

footer > .products-suggestions, .payment-options {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.navi:not(.central) > li > div > .second-level-navi > li > a > span:after,
.navi:not(.central) > li > div > .second-level-navi > li > span:after, .navi.central > li > a > span:after, .navi.central > li > div > .second-level-navi > li > a > span:after, .breadcrumb > li > a > span:after {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  display: block;
  width: 3rem;
  content: "\e3b1";
  z-index: 2;
  font-size: 1rem;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  color: white; }

.main > .store-finder:before, footer > .delivery-options:before,
footer > .return-options:before,
footer > .newsletter-link:before,
footer > .help-link:before, .filtering > .select-icon, .filtering > a > span:before, .products-set > .load-more-products:before {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  display: block;
  width: 2.25rem;
  content: "\e6b3";
  z-index: 2;
  font-size: 1rem;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }

.pbox > .badge, .products-set > ul > li > a > .badge, .product > .photos > .badge {
  display: inline-block;
  position: absolute;
  font-weight: 800;
  background-color: #f8ec1a;
  top: 0.25rem;
  left: -5px;
  padding: 0.25rem 0.5rem 0 0.5rem;
  line-height: 1; }

.search > label > .search-field:-moz-placeholder {
  color: #196428; }
.search > label > .search-field:-ms-input-placeholder {
  color: #196428; }
.search > label > .search-field::-webkit-input-placeholder {
  color: #196428; }
.search > label > .search-field:focus:-moz-placeholder {
  color: white; }
.search > label > .search-field:focus:-ms-input-placeholder {
  color: white; }
.search > label > .search-field:focus::-webkit-input-placeholder {
  color: white; }

.header > .shopping-cart, .remember-button:before, .add-to-cart-button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.navi:not(.central) > li > div > .second-level-navi > li > a > span,
.navi:not(.central) > li > div > .second-level-navi > li > span, .navi.central > li > a > span, .navi.central > li > div > .second-level-navi > li > a > span, footer > .delivery-options,
footer > .return-options,
footer > .newsletter-link,
footer > .help-link, .main > .store-finder, .main > .product-video, .filtering > a, .products-set > .load-more-products, .filtering > select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

footer > .products-suggestions > .headline, .product > .title, .variant-matrix > li > h3, .variant-matrix > li > ul > li > .information > h4 {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color: #333333; }

.header {
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  margin: 0;
  display: block;
  text-align: center;
  height: 3rem;
  background: #e7001f;
  background-size: auto 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20; }
  .header > .toggle-navigation {
    display: block;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    line-height: 1.8;
    position: absolute;
    z-index: 11;
    left: 0;
    top: 0;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    .header > .toggle-navigation:hover, .header > .toggle-navigation:focus, .header > .toggle-navigation:active {
      background-color: transparent; }
    .header > .toggle-navigation:active {
      color: #c3d255; }
  .header > .fressnapf-logo {
    display: inline-block;
    height: 3rem;
    width: 144px;
    background: transparent url("../img/fressnapf-text-logo.svg") no-repeat center center;
    background-size: 100% auto;
    padding: 0;
    margin: 0; }
    .header > .fressnapf-logo > img {
      display: none; }
    .header > .fressnapf-logo:hover, .header > .fressnapf-logo:focus {
      background-color: transparent; }
  .header > .shopping-cart {
    display: block;
    position: absolute;
    right: 0.75rem;
    top: 0.68182rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid white;
    line-height: 1;
    padding: 0.25rem 0.25rem 0.115rem 0.25rem;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    min-width: 1rem; }
  .navi-open .header {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0); }
  .scrolled > .header {
    height: 1.875rem; }
    .scrolled > .header > .toggle-navigation {
      font-size: 1.25rem;
      width: 1.875rem;
      height: 1.875rem;
      line-height: 1;
      top: 0.25rem; }
    .scrolled > .header > .fressnapf-logo {
      height: 1.8rem; }
    .scrolled > .header > .shopping-cart {
      top: 0.25rem;
      font-size: 0.85rem;
      border-width: 1px; }

.main {
  padding: 3rem 0.5rem 1.5rem 0.5rem;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative; }
  .navi-open .main {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
    opacity: 0.25;
    filter: alpha(opacity=25); }
  .main > .product-video {
    padding: 0;
    text-align: center;
    margin-top: 0.5rem; }
    .main > .product-video > span:after {
      content: "\e627";
      display: inline-block;
      font-size: 1.5rem;
      margin-top: -0.25rem;
      vertical-align: middle;
      margin-left: 0.4rem; }

.navi-panel {
  padding-right: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed; }
  .navi-open .navi-panel {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 9;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.25) url(../img/diagonal-pattern.png) repeat left top; }

footer {
  display: block;
  background-color: #d4d2ce;
  margin: 0.5rem -0.75rem 0 -0.75rem;
  padding: 0.75rem; }
  footer > .products-suggestions {
    display: block;
    background-color: white;
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem; }
  footer > .delivery-options,
  footer > .return-options,
  footer > .newsletter-link,
  footer > .help-link {
    margin-bottom: 0.5rem;
    height: 2rem; }
    footer > .delivery-options > span,
    footer > .return-options > span,
    footer > .newsletter-link > span,
    footer > .help-link > span {
      line-height: 2rem; }
    footer > .delivery-options:before,
    footer > .return-options:before,
    footer > .newsletter-link:before,
    footer > .help-link:before {
      content: "\e3b1";
      font-size: 0.65rem;
      background: none;
      line-height: 2rem;
      height: 2rem; }
  footer > .newsletter-link,
  footer > .help-link {
    width: calc(50% - 0.25rem);
    float: left; }
  footer > .newsletter-link {
    margin-right: 0.5rem; }
  footer > .footer-links {
    display: block;
    text-align: center;
    font-size: 0.7rem; }
    footer > .footer-links > .desktop-version-link {
      display: inline-block;
      color: #333333;
      margin-bottom: 0.5rem; }
    footer > .footer-links > ul {
      display: block;
      text-align: center; }
      footer > .footer-links > ul > li {
        display: inline-block;
        margin: 0; }
        footer > .footer-links > ul > li > a {
          display: block;
          color: #333333; }
          footer > .footer-links > ul > li > a > span {
            display: block;
            border-left: 1px solid #333333;
            line-height: 0.65rem;
            padding: 0 0.15rem 0 0.25rem; }
        footer > .footer-links > ul > li:first-child > a > span {
          border-left: 0;
          padding-left: 0; }
        footer > .footer-links > ul > li:last-child > a > span {
          padding-right: 0; }

.search {
  display: block;
  margin: 0.5rem -0.5rem; }
  .search > label {
    display: block;
    padding: 0 2rem 0 0.5rem;
    position: relative; }
    .search > label > .search-field {
      display: block;
      width: 100%;
      height: 2.5rem;
      font-size: 1rem;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #196428;
      font-weight: bold;
      border: 1px solid white;
      padding-left: 0.5rem; }
    .search > label > .form-submit {
      display: block;
      border: 0;
      position: absolute;
      right: 0.5rem;
      top: 0;
      width: 2.5rem;
      height: 2.5rem;
      background-color: #d4d2ce;
      color: #196428;
      font-size: 1.4rem;
      line-height: 1; }
      .search > label > .form-submit:before {
        content: "\e60d";
        position: absolute;
        display: block;
        line-height: 1;
        left: 0.5rem;
        top: 0.5rem; }

.navi:not(.central) {
  display: block;
  background-color: white; }
  .navi:not(.central) > li {
    display: block;
    border-top: 1px solid #999999; }
    .navi:not(.central) > li > a > span,
    .navi:not(.central) > li > span {
      display: block;
      padding: 0.75rem 1rem 0.75rem 3.5rem;
      background-color: #d4d2ce;
      font-weight: bold;
      color: #333333;
      position: relative; }
      .navi:not(.central) > li > a > span:before,
      .navi:not(.central) > li > span:before {
        position: absolute;
        left: 0.75rem;
        top: 0.4rem;
        font-size: 2rem; }
    .navi:not(.central) > li > a:hover > span, .navi:not(.central) > li > a:focus > span {
      background-color: #f6f4d2;
      color: black; }
    .navi:not(.central) > li.login > a > span:before,
    .navi:not(.central) > li.login > span:before {
      font-size: 1.5rem;
      left: 1rem;
      top: 0.65rem; }
    .navi:not(.central) > li.find > a > span:before,
    .navi:not(.central) > li.find > span:before {
      font-size: 1.35rem;
      left: 1rem;
      top: 0.75rem; }
    .navi:not(.central) > li.wishlist > a > span:before,
    .navi:not(.central) > li.wishlist > span:before {
      font-size: 1.35rem;
      left: 1.1rem;
      top: 0.8rem; }
    .navi:not(.central) > li.store-locator > a > span:before,
    .navi:not(.central) > li.store-locator > span:before {
      font-size: 1.35rem;
      left: 1.1rem;
      top: 0.8rem; }
    .navi:not(.central) > li.cats, .navi:not(.central) > li.dogs, .navi:not(.central) > li.rodents, .navi:not(.central) > li.birds, .navi:not(.central) > li.aquarium, .navi:not(.central) > li.reptile, .navi:not(.central) > li.garden {
      border-top: none; }
      .navi:not(.central) > li.cats > a > span:before,
      .navi:not(.central) > li.cats > span:before, .navi:not(.central) > li.dogs > a > span:before,
      .navi:not(.central) > li.dogs > span:before, .navi:not(.central) > li.rodents > a > span:before,
      .navi:not(.central) > li.rodents > span:before, .navi:not(.central) > li.birds > a > span:before,
      .navi:not(.central) > li.birds > span:before, .navi:not(.central) > li.aquarium > a > span:before,
      .navi:not(.central) > li.aquarium > span:before, .navi:not(.central) > li.reptile > a > span:before,
      .navi:not(.central) > li.reptile > span:before, .navi:not(.central) > li.garden > a > span:before,
      .navi:not(.central) > li.garden > span:before {
        top: 0.5rem; }
      .navi:not(.central) > li.cats > a > span:after,
      .navi:not(.central) > li.cats > span:after, .navi:not(.central) > li.dogs > a > span:after,
      .navi:not(.central) > li.dogs > span:after, .navi:not(.central) > li.rodents > a > span:after,
      .navi:not(.central) > li.rodents > span:after, .navi:not(.central) > li.birds > a > span:after,
      .navi:not(.central) > li.birds > span:after, .navi:not(.central) > li.aquarium > a > span:after,
      .navi:not(.central) > li.aquarium > span:after, .navi:not(.central) > li.reptile > a > span:after,
      .navi:not(.central) > li.reptile > span:after, .navi:not(.central) > li.garden > a > span:after,
      .navi:not(.central) > li.garden > span:after {
        content: "\e3b1";
        font-size: 0.75rem;
        position: absolute;
        right: 1rem;
        top: 1.15rem; }
    .navi:not(.central) > li.cats {
      border-top: 1px solid #999999; }
    .navi:not(.central) > li.current > a > span,
    .navi:not(.central) > li.current > span {
      background-color: #e7001f;
      color: white; }
    .navi:not(.central) > li.current.cats > a > span:after,
    .navi:not(.central) > li.current.cats > span:after, .navi:not(.central) > li.current.dogs > a > span:after,
    .navi:not(.central) > li.current.dogs > span:after, .navi:not(.central) > li.current.rodents > a > span:after,
    .navi:not(.central) > li.current.rodents > span:after, .navi:not(.central) > li.current.birds > a > span:after,
    .navi:not(.central) > li.current.birds > span:after, .navi:not(.central) > li.current.aquarium > a > span:after,
    .navi:not(.central) > li.current.aquarium > span:after, .navi:not(.central) > li.current.reptile > a > span:after,
    .navi:not(.central) > li.current.reptile > span:after, .navi:not(.central) > li.current.garden > a > span:after,
    .navi:not(.central) > li.current.garden > span:after {
      content: "\e3b2"; }
    .navi:not(.central) > li:first-child {
      border-top: 0; }
    .navi:not(.central) > li > div {
      -webkit-transition: max-height ease 0.5s;
      -moz-transition: max-height ease 0.5s;
      -ms-transition: max-height ease 0.5s;
      -o-transition: max-height ease 0.5s;
      transition: max-height ease 0.5s;
      overflow: hidden;
      max-height: 0; }
      .navi:not(.central) > li > div > .second-level-navi {
        display: block; }
        .navi:not(.central) > li > div > .second-level-navi > li > a > span,
        .navi:not(.central) > li > div > .second-level-navi > li > span {
          color: #333333;
          font-weight: normal;
          font-size: 1rem;
          padding-left: 3.5rem; }
          .navi:not(.central) > li > div > .second-level-navi > li > a > span:after,
          .navi:not(.central) > li > div > .second-level-navi > li > span:after {
            font-size: 0.65em;
            color: #333333;
            background: none; }
        .navi:not(.central) > li > div > .second-level-navi > li > a:hover > span, .navi:not(.central) > li > div > .second-level-navi > li > a:focus > span {
          background-color: #f6f4d2;
          color: black; }
    .navi:not(.central) > li.current > div {
      max-height: 10000px; }
.navi.central {
  padding-top: 0.5rem; }
  .navi.central > li {
    margin-top: 0.45rem; }
    .navi.central > li > a > span:before {
      position: absolute;
      left: 0.75rem;
      top: 0.5rem;
      font-size: 2rem;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
    .navi.central > li:first-child {
      margin-top: 0; }
    .navi.central > li > div {
      -webkit-transition: max-height ease 0.5s;
      -moz-transition: max-height ease 0.5s;
      -ms-transition: max-height ease 0.5s;
      -o-transition: max-height ease 0.5s;
      transition: max-height ease 0.5s;
      overflow: hidden;
      max-height: 0; }
      .navi.central > li > div > .second-level-navi {
        background-color: #d4d2ce;
        padding: 0.65rem;
        margin: 0 0.33rem 0.5rem 0.33rem;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35); }
        .navi.central > li > div > .second-level-navi > li > a > span {
          padding-left: 0.5rem;
          font-size: 1rem;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          margin-top: 0.33rem; }
          .navi.central > li > div > .second-level-navi > li > a > span:after {
            background: none;
            color: #196428;
            font-size: 0.75rem;
            width: 2rem; }
        .navi.central > li > div > .second-level-navi > li:first-child > a > span {
          margin-top: 0; }
    .navi.central > li.current > div {
      max-height: 10000px; }
    .navi.central > li.current > a > span {
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }
      .navi.central > li.current > a > span:after {
        content: "\e3b2"; }
  .navi.central.simple > li > a > span {
    padding-left: 0.5rem; }

html.touch .navi:not(.central) > li > a:hover > span, html.touch .navi:not(.central) > li > a:focus > span {
  background-color: #d4d2ce;
  color: #333333; }
html.touch .navi > .m-content > .second-level-navi > li > a:hover > span, html.touch .navi > .m-content > .second-level-navi > li > a:focus > span {
  background-color: white;
  color: #333333; }

/* Mobile Carousel by Mobify.js: https://www.mobify.com/mobifyjs/modules/carousel/ Translated into SASS & Refactored by Jurij Burkanov */
.m-carousel {
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }
  .m-carousel.m-fluid > .m-carousel-inner {
    position: relative;
    white-space: nowrap;
    text-align: left;
    font-size: 0;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    -moz-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    -ms-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .m-carousel.m-fluid > .m-carousel-inner > .m-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      font-size: 16px;
      width: 100%;
      margin-right: 20px; }
      .m-carousel.m-fluid > .m-carousel-inner > .m-item > img {
        -ms-interpolation-mode: bicubic; }
  .m-carousel.m-carousel-photos, .m-carousel.m-carousel-products {
    margin: 0 -0.5rem;
    padding: 0 0.5rem; }
    .m-carousel.m-carousel-photos > .m-carousel-inner > .m-item > img, .m-carousel.m-carousel-products > .m-carousel-inner > .m-item > img {
      margin: 0;
      padding: 0;
      max-width: none;
      width: 100%;
      height: auto; }
  .m-carousel > .m-carousel-controls {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 0; }
    .m-carousel > .m-carousel-controls > a {
      -webkit-user-select: none;
      -moz-user-select: -moz- none;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-drag: -moz- none;
      user-drag: none; }
    .m-carousel > .m-carousel-controls.m-carousel-bulleted > a {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem;
      margin: 0 3px;
      background-color: rgba(51, 51, 51, 0.25);
      -webkit-transition: all ease-in 0.2s;
      -moz-transition: all ease-in 0.2s;
      -ms-transition: all ease-in 0.2s;
      -o-transition: all ease-in 0.2s;
      transition: all ease-in 0.2s;
      -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 5px;
      -moz-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 5px;
      box-shadow: rgba(255, 255, 255, 0.75) 1px 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 5px;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      border-radius: 0.5rem; }
      .m-carousel > .m-carousel-controls.m-carousel-bulleted > a:hover, .m-carousel > .m-carousel-controls.m-carousel-bulleted > a:focus {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.6); }
      .m-carousel > .m-carousel-controls.m-carousel-bulleted > a.m-active {
        background-color: transparent;
        -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 3px;
        -moz-box-shadow: rgba(255, 255, 255, 0.75) 0 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 3px;
        box-shadow: rgba(255, 255, 255, 0.75) 0 0 3px, inset rgba(0, 0, 0, 0.75) 0 0 3px; }
      .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"], .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        position: absolute;
        left: 1rem;
        bottom: 0.25rem;
        margin: 0;
        padding: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        border-radius: 1.25rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: rgba(51, 51, 51, 0.5); }
        .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"]:before, .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"]:before {
          position: absolute;
          left: 0.5rem;
          top: 0.5rem;
          content: "\e3b3";
          z-index: 2;
          font-size: 1.5rem;
          color: rgba(255, 255, 255, 0.75); }
      .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        left: auto;
        right: 1rem; }
        .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"]:before {
          content: "\e3b1"; }
  .m-carousel.m-carousel-products > .m-carousel-controls {
    bottom: -0.2rem; }
    .m-carousel.m-carousel-products > .m-carousel-controls.m-carousel-bulleted > a {
      padding: 0.33rem;
      -webkit-border-radius: 0.33rem;
      -moz-border-radius: 0.33rem;
      border-radius: 0.33rem; }
      .m-carousel.m-carousel-products > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"], .m-carousel.m-carousel-products > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        padding: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        border-radius: 1.25rem;
        bottom: 3rem; }
      .m-carousel.m-carousel-products > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"] {
        left: 0.5rem; }
      .m-carousel.m-carousel-products > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        right: 0.5rem; }

.product > .photos > .m-carousel {
  border: 1px solid #d4d2ce;
  margin: 0;
  padding: 0; }
  .product > .photos > .m-carousel > .m-carousel-controls {
    bottom: 0; }
    .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a {
      padding: 0.45rem; }
      .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"], .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        bottom: 0.5rem;
        padding: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem; }
        .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"]:before, .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"]:before {
          left: 0.5rem;
          top: 0.5rem;
          font-size: 1rem; }
      .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="prev"] {
        left: 0.25rem; }
      .product > .photos > .m-carousel > .m-carousel-controls.m-carousel-bulleted > a[data-slide="next"] {
        right: 0.25rem; }

.payment-options {
  background-color: #eae9e7;
  padding: 0.45rem;
  padding-right: 0;
  width: 100%;
  margin-bottom: 0.5rem; }
  .payment-options > li {
    background-color: white;
    border-right: 0.45rem solid #eae9e7;
    width: 25%;
    float: left; }
    .payment-options > li > img {
      display: block;
      width: 100%;
      height: auto;
      position: relative; }

.social-bar {
  clear: left;
  float: none;
  text-align: center;
  padding: 0.65rem 0 0.35rem 0; }
  .social-bar > li {
    display: inline-block;
    margin: 0 0.2rem; }
    .social-bar > li > a {
      display: block;
      width: 2rem; }
      .social-bar > li > a > img {
        display: block;
        width: 100%;
        height: auto; }

.pbox {
  display: block;
  position: relative;
  padding-bottom: 2rem; }
  .pbox > img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0; }
  .pbox > .description {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.1rem; }
    .pbox > .description > h3,
    .pbox > .description > p {
      display: block;
      height: 0.75rem;
      line-height: 1;
      overflow: hidden;
      width: 100%;
      text-align: center;
      color: #333333; }
    .pbox > .description > h3 {
      font-weight: bold; }
  .pbox:hover, .pbox:focus, .pbox:active {
    background-color: #60843e; }
    .pbox:hover > .description > h3,
    .pbox:hover > .description > p, .pbox:focus > .description > h3,
    .pbox:focus > .description > p, .pbox:active > .description > h3,
    .pbox:active > .description > p {
      color: white; }

.m-carousel.m-carousel-products > .m-carousel-inner > .m-item .pbox {
  display: block;
  min-height: 6rem;
  width: calc(50% - 3.5rem);
  border: 1px solid #d4d2ce;
  float: left;
  margin-bottom: 1.25rem;
  margin-top: 1px; }
  .m-carousel.m-carousel-products > .m-carousel-inner > .m-item .pbox:first-child {
    margin-right: 1rem;
    margin-left: 3rem; }
  .m-carousel.m-carousel-products > .m-carousel-inner > .m-item .pbox:last-child {
    margin-right: 3rem; }

.breadcrumb {
  display: block;
  background-color: white;
  font-weight: 800; }
  .breadcrumb > li {
    display: block;
    float: left; }
    .breadcrumb > li span {
      display: block;
      position: relative;
      line-height: 3rem;
      padding-left: 0.5rem;
      color: #999999; }
    .breadcrumb > li > a {
      color: #196428;
      text-decoration: none; }
      .breadcrumb > li > a > span {
        padding-right: 1rem;
        color: #196428; }
        .breadcrumb > li > a > span:after {
          background: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          color: #196428;
          font-size: 0.75rem;
          right: -1.25rem; }

.filtering {
  display: block;
  margin: 0.5rem 0 0rem 0; }
  .filtering > .select-icon {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    float: left;
    color: white; }
  .filtering > select {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    width: calc(50% - 2.5rem);
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 0.5rem;
    border: none;
    -webkit-appearance: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    position: relative;
    text-align: left;
    padding-left: 0.5rem;
    height: 3rem; }
    .filtering > select:hover, .filtering > select:focus {
      background-color: #c3d255;
      color: white;
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e;
      -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem #60843e; }
    .filtering > select:active {
      background-color: #196428;
      -webkit-box-shadow: inset 0 -0.25rem 1.25rem #143800;
      -moz-box-shadow: inset 0 -0.25rem 1.25rem #143800;
      box-shadow: inset 0 -0.25rem 1.25rem #143800; }
    .filtering > select::-ms-expand {
      display: none; }
  .filtering > a {
    display: block;
    float: left;
    width: calc(50% - 0.25rem); }
    .filtering > a > span:before {
      content: "\e3b1"; }
    .filtering > a.open > span:before {
      content: "\e3b2"; }

.products-set {
  margin-top: 1rem; }
  .products-set > .load-more-products:before {
    content: "\e1b0"; }
  .products-set > ul {
    margin-bottom: 0.5rem; }
    .products-set > ul > li {
      margin-top: 0.5rem; }
      .products-set > ul > li > a {
        color: #333333;
        text-decoration: none;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        background-color: white;
        padding: 0.5rem;
        position: relative; }
        .products-set > ul > li > a > .photo,
        .products-set > ul > li > a > .description {
          -webkit-flex: auto;
          flex: auto; }
        .products-set > ul > li > a > .photo {
          width: 100%;
          height: auto;
          max-width: 50%; }
          .products-set > ul > li > a > .photo > img {
            display: block;
            width: 100%;
            height: auto; }
        .products-set > ul > li > a > .description {
          min-width: 12rem;
          line-height: 1.2;
          padding-bottom: 3rem;
          position: relative; }
          .products-set > ul > li > a > .description > div {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%; }
            .products-set > ul > li > a > .description > div > .price {
              display: block;
              float: right;
              text-align: right; }
              .products-set > ul > li > a > .description > div > .price > .old {
                font-size: 0.85rem;
                color: #999999; }
                .products-set > ul > li > a > .description > div > .price > .old > span {
                  text-decoration: line-through; }
              .products-set > ul > li > a > .description > div > .price > .new {
                font-weight: 800;
                color: #b1181e;
                font-size: 1.5rem; }
        .products-set > ul > li > a > .badge.special {
          top: auto;
          bottom: 0.5rem;
          left: 0.5rem;
          padding: 0.75rem 0.5rem 0.5rem 0.5rem;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: #c4d7f0; }
      .products-set > ul > li:first-child {
        margin-top: 0; }

.rating.r-1 > .star-1:before, .rating.r-1_5 > .star-1:before, .rating.r-2 > .star-1:before,
.rating.r-2 > .star-2:before, .rating.r-2_5 > .star-1:before,
.rating.r-2_5 > .star-2:before, .rating.r-3 > .star-1:before,
.rating.r-3 > .star-2:before,
.rating.r-3 > .star-3:before, .rating.r-3_5 > .star-1:before,
.rating.r-3_5 > .star-2:before,
.rating.r-3_5 > .star-3:before, .rating.r-4 > .star-1:before,
.rating.r-4 > .star-2:before,
.rating.r-4 > .star-3:before,
.rating.r-4 > .star-4:before, .rating.r-4_5 > .star-1:before,
.rating.r-4_5 > .star-2:before,
.rating.r-4_5 > .star-3:before,
.rating.r-4_5 > .star-4:before, .rating.r-5 > .star-1:before,
.rating.r-5 > .star-2:before,
.rating.r-5 > .star-3:before,
.rating.r-5 > .star-4:before,
.rating.r-5 > .star-5:before {
  content: "\e604"; }

.rating.r-0_5 > .star-1:before, .rating.r-1_5 > .star-2:before, .rating.r-2_5 > .star-3:before, .rating.r-3_5 > .star-4:before, .rating.r-4_5 > .star-5:before {
  content: "\e300"; }

.rating {
  color: #196428; }
  .rating > [class^="star-"],
  .rating > [class*=" star-"] {
    display: inline-block; }
    .rating > [class^="star-"]:before,
    .rating > [class*=" star-"]:before {
      content: "\e605"; }
  .products-set .rating {
    font-size: 0.85rem;
    display: block;
    float: left; }

.product {
  display: block;
  background-color: white;
  margin-top: 0.5rem;
  padding: 1rem 0.5rem 0.25rem 0.5rem; }
  .product > .title {
    font-size: 1.5rem;
    line-height: 1.25; }
  .product > .photos {
    display: block;
    position: relative;
    padding-top: 0.5rem; }
    .product > .photos > .badge {
      font-size: 1.5rem;
      line-height: 1;
      padding: 0.5rem 0.5rem 0.15rem 0.75rem; }

.delivery-type {
  display: block;
  padding: 1rem 0.5rem; }
  .delivery-type.forwarding {
    text-align: center; }
    .delivery-type.forwarding:before {
      content: "\e602";
      display: inline-block;
      padding-top: 0.005rem;
      vertical-align: top;
      color: #333333;
      font-size: 1.25rem; }

.variant-matrix {
  display: block;
  background-color: white;
  padding: 0.5rem; }
  .variant-matrix > li {
    display: block;
    padding-top: 1.5rem; }
    .variant-matrix > li:first-child {
      padding-top: 0.5rem; }
    .variant-matrix > li > h3 {
      font-size: 1.25rem;
      padding: 0.5rem;
      border-top: 1px solid #999999;
      background-color: #eae9e7; }
    .variant-matrix > li > ul {
      display: block; }
      .variant-matrix > li > ul > li {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        padding: 0.5rem;
        border-top: 1px solid #d4d2ce; }
        .variant-matrix > li > ul > li:first-child {
          border-top: none; }
        .variant-matrix > li > ul > li > .information,
        .variant-matrix > li > ul > li > .action {
          -webkit-flex: auto;
          flex: auto;
          width: 50%; }
        .variant-matrix > li > ul > li > .information {
          line-height: 1.25; }
          .variant-matrix > li > ul > li > .information > .relative-price {
            color: #999999;
            font-size: 0.85rem; }
        .variant-matrix > li > ul > li > .action {
          text-align: right;
          min-width: 11rem; }
          .variant-matrix > li > ul > li > .action > .reco-price {
            display: block;
            color: #999999;
            font-size: 0.85rem;
            text-align: right; }

.delivery-status {
  display: block;
  font-size: 0.75rem; }
  .delivery-status > .indicator {
    display: inline-block;
    vertical-align: top; }
    .delivery-status > .indicator > span {
      display: block;
      float: left;
      margin-right: 0.15rem; }
      .delivery-status > .indicator > span:before {
        content: "\e61a";
        color: #d4d2ce; }
  .delivery-status > .description {
    display: inline-block; }
  .delivery-status.ready > .indicator > span:before {
    color: #196428; }
  .delivery-status.waiting > .indicator > span:nth-child(1):before, .delivery-status.waiting > .indicator > span:nth-child(2):before {
    color: #f8ec1a; }
  .delivery-status.absent > .indicator > span:nth-child(1):before {
    color: #e7001f; }

.remember-button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }
  .remember-button:before {
    content: "\e679";
    display: block;
    font-size: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #fcfcfc;
    color: #e7001f;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  .remember-button.on:before {
    content: "\e64f"; }
  .remember-button:hover:before, .remember-button:focus:before {
    background-color: #f3faff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
  .remember-button:active, .remember-button:visited {
    background: none; }
    .remember-button:active:before, .remember-button:visited:before {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

.add-to-cart-button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #b1181e;
  color: white;
  padding: 0.35rem 2.5rem 0.15rem 0.5rem;
  text-align: right;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), inset 0 1px 3px rgba(255, 255, 255, 0.75), inset 0 -1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), inset 0 1px 3px rgba(255, 255, 255, 0.75), inset 0 -1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), inset 0 1px 3px rgba(255, 255, 255, 0.75), inset 0 -1px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  text-align: right;
  position: relative;
  min-width: 3rem; }
  .add-to-cart-button:after {
    position: absolute;
    right: 0.5rem;
    top: 0.35rem;
    content: "\e62a";
    font-size: 1.5rem; }
  .add-to-cart-button > .cents {
    display: inline-block;
    vertical-align: top; }
  .add-to-cart-button > .euros:after {
    content: "."; }
  .add-to-cart-button > .cents {
    font-size: 50%;
    padding-top: 0.2rem;
    margin-left: -0.5rem; }

.variant-matrix > li > ul > li > .action > .add-to-cart-button {
  margin-left: 0.5rem; }
