// Standard styles for module

.product-details
	@extend %acco-box
	> div
		background-color: $white
		display: block
		padding: 0.5rem 1rem
		@extend %dirty-copy
		> h2,h3,h4
			@extend %base-headline
			padding-bottom: 0.5rem
			font-size: 1.2rem
			font-weight: normal
			line-height: 1.25
			margin-bottom: 0
			margin-top: 0.5rem
			border-bottom: 1px solid $fn-gray-light
			color: $fn-green