/* A place for links, buttons, tabs and other things that react on user input */

a
	color: $link-color
	display: inline-block
	padding: 0.1rem 0.25rem
	margin: -0.1rem -0.25rem
	@extend %common-transition
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&:visited
		color: $link-color-visited
	&:hover,
	&:focus
		color: $link-color-hover
		background-color: $fn-highlight
	&:active
		@extend %no-transition
		color: $white
		background-color: $fn-green-medium

%but-link-container
	display: block
	@extend %pure
	text-decoration: none

%but-link-insider
	display: block
	@extend %ci-radius-small
	font-size: 1.2rem
	height: 3rem
	line-height: 3rem
	background-color: $white
	color: $fn-green
	font-weight: bold
	padding: 0 0 0 3.5rem
	position: relative

%primary-button
	display: block
	@extend %fn-green-grad
	@extend %pure
	@extend %ci-radius-small
	@extend %insider
	text-decoration: none
	color: $white
	position: relative
	text-align: left
	padding-left: 3.5rem
	height: 3rem
	font-weight: 800
	+box-shadow(0 2px 2px rgba(0, 0, 0, 0.25))
	+user-select()
	+user-drag()
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&:hover,
	&:focus,
	&:active
		cursor: pointer
	&:hover,
	&:focus
		background-color: $fn-green-yellow
		color: $white
		+box-shadow(0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -0.25rem 1.25rem $fn-green-medium)
	&:active
		background-color: $fn-green
		+box-shadow(inset 0 -0.25rem 1.25rem $fn-green-accent)
	> span
		font-family: $sans-font-family
		display: block
		height: 1rem
		padding-top: 0.6rem

%secondary-button
	@extend %primary-button
	@extend %fn-gray-grad
	+box-shadow(0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -1px 1px rgba(234, 237, 236, 1), inset 0 1px 1px rgba(237, 238, 237, 1))
	color: $fn-gray
	font-size: 0.85rem
	font-weight: normal
	position: relative
	padding-left: 1.5rem
	> span
		padding-top: 0.05rem
	&:hover,
	&:focus
		background-color: $white
		color: $fn-green
		+box-shadow(0 3px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 1px rgba(234, 237, 236, 1), inset 0 1px 1px rgba(237, 238, 237, 1))
		&:before
			color: $fn-green
	&:active
		background-color: $fn-gray-medium
		+box-shadow(inset 0 -1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.35))

%next-action-button
	@extend %primary-button
	font-size: 1.25rem
	margin: 1rem 0
	&:before
		@extend %cap-left
		content: "\e3b1"

%pointer-link
	display: inline-block
	text-decoration: none
	&:before
		content: "\e3b1"
		@extend [class^="icon-"]
		font-size: 0.75rem
	> span
		text-decoration: underline