// Standard styles for module

.main
	@extend %clearfix
	padding: 3rem 0.5rem 1.5rem 0.5rem
	+transition(500ms ease)
	+backface-visibility(hidden)
	+translate3d(0, 0, 0)
	position: relative
	.navi-open &
		+translate3d(80%, 0, 0)
		+opacity(25)
	> .store-finder
		@extend %primary-button
		&:before
			@extend %cap-left
	> .product-video
		@extend %primary-button
		padding: 0
		text-align: center
		margin-top: 0.5rem
		> span
			&:after
				content: "\e627"
				@extend [class^="icon-"]
				display: inline-block
				font-size: 1.5rem
				margin-top: -0.25rem
				vertical-align: middle
				margin-left: 0.4rem