// Standard styles for module - mobile first

.header
	@extend %clearfix
	+transition(500ms ease)
	margin: 0
	display: block
	text-align: center
	height: $base-mass * 2
	background: $fn-green url('../img/big-green-bar.jpg') repeat-x left center
	background-size: auto $base-mass * 2
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 20
	> .toggle-navigation
		display: block
		@extend %pure
		font-size: 2rem
		width: $base-mass * 2
		height: $base-mass * 2
		overflow: hidden
		line-height: 1.8
		position: absolute
		z-index: 11
		left: 0
		top: 0
		color: $white
		cursor: pointer
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
		&:hover,
		&:focus,
		&:active
			background-color: transparent
		&:active
			color: $fn-green-yellow
	> .fressnapf-logo
		display: inline-block
		height: $base-mass * 2
		width: 144px
		background: transparent url('../img/fressnapf-text-logo.svg') no-repeat center center
		background-size: 100% auto
		padding: 0
		margin: 0
		> img
			display: none
		&:hover,
		&:focus
			background-color: transparent
	> .shopping-cart
		display: block
		@extend %pure
		position: absolute
		right: $base-mass / 2
		top: $base-mass / 2.2
		color: $white
		text-decoration: none
		font-weight: bold
		border: 3px solid $white
		line-height: 1
		padding: 0.25rem 0.25rem 0.115rem 0.25rem
		@extend %ci-radius
		text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5)
		background-color: rgba(0, 0, 0, 0.25)
		min-width: 1rem
	.navi-open &
		+translate3d(80%, 0, 0)
	.scrolled > &
		height: $base-mass * 1.25
		> .toggle-navigation
			font-size: 1.25rem
			width: $base-mass * 1.25
			height: $base-mass * 1.25
			line-height: 1
			top: 0.25rem
		> .fressnapf-logo
			height: $base-mass * 1.2
		> .shopping-cart
			top: 0.25rem
			font-size:  0.85rem
			border-width: 1px