// Standard styles for module

.address
	@extend %content-container
	> .invoice,
	> .delivery,
	> .credit-card-info
		> .attention
			display: block
			line-height: 1.25
		> .title
			@extend %base-headline
			position: relative
			font-size: 1.25rem
		.i-group
			@extend %field-in-label
		> .multi-holder
			display: -webkit-flex
			display: flex
			-webkit-flex-direction: row
			flex-direction: row
			> *
				-webkit-flex: auto
				flex: auto
			> .title-wrapper,
			> .zip-wrapper
				max-width: 5rem
			> .title-wrapper,
			> .zip-wrapper,
			> .birth-day-wrapper,
			> .birth-month-wrapper
				margin-right: 0.5rem
			> .title-wrapper,
			> .birth-day-wrapper,
			> .birth-month-wrapper,
			> .birth-year-wrapper,
			> .expiration-date-month-wrapper,
			> .expiration-date-year-wrapper
				> select
					@extend %full-select
			> .expiration-date-month-wrapper,
			> .expiration-date-year-wrapper,
			> .card-security-code-wrapper,
			> .explain-securitry-code
				width: 50%
			> .expiration-date-month-wrapper,
			> .card-security-code-wrapper
				margin-right: 0.5rem
			> .house-nr-wrapper
				margin-left: 0.5rem
				max-width: 5rem
			> .explain-securitry-code
				line-height: 3.5rem
				text-align: left
		> .card-type-wrapper
			> select
				@extend %full-select
	> .credit-card-info
		display: none
		padding-bottom: 2rem
		border-bottom: 1px solid $fn-gray-light
	> .delivery
		margin-bottom: 1.5rem
		display: none
	> .c-group
		@extend %checkbox-container
		&.lined
			border-bottom: 1px solid $fn-gray-light
			margin: 0 -0.5rem
			padding: 1rem 1rem 1rem 2rem
			> .title-wrapper
				@extend %clearfix
				> .title
					@extend %base-headline
					margin-right: 1rem
					> .conditions
						display: block
						font-weight: normal
						font-style: italic
				> .title,
				> .illustration
					float: left
				> .illustration
					display: block
					height: 1.5rem
					width: 3rem
					margin-top: -0.25rem
					float: right
					> img
						display: block
						height: 100%
						width: auto
			> input
				left: 0.5rem
				top: 0.85rem
		&.different-delivery-address-wrapper
			margin-top: 1.5rem
	.small
		@extend %small
		display: block
		margin: 1rem 0
	> .continue
		@extend %next-action-button
	&.payment
		padding-top: 0
		> .c-group
			&.lined
				&.expanded
					border-bottom: none
		> .continue
			margin-top: 2rem