// Standard styles for module

.address
	@extend %content-container
	> .invoice,
	> .delivery
		> .attention
			display: block
			line-height: 1.25
		> .title
			@extend %base-headline
			position: relative
			font-size: 1.25rem
		.i-group
			@extend %field-in-label
		> .multi-holder
			@extend %simple-flex
			> .title-wrapper,
			> .zip-wrapper
				max-width: 5rem
			> .title-wrapper,
			> .zip-wrapper,
			> .birth-day-wrapper,
			> .birth-month-wrapper
				margin-right: 0.5rem
			> .title-wrapper,
			> .birth-day-wrapper,
			> .birth-month-wrapper,
			> .birth-year-wrapper,
			> .expiration-date-month-wrapper,
			> .expiration-date-year-wrapper
				> select
					@extend %full-select
			> .expiration-date-month-wrapper,
			> .expiration-date-year-wrapper,
			> .card-security-code-wrapper,
			> .explain-securitry-code
				width: 50%
			> .expiration-date-month-wrapper,
			> .card-security-code-wrapper
				margin-right: 0.5rem
			> .house-nr-wrapper
				margin-left: 0.5rem
				max-width: 5rem
			> .explain-securitry-code
				line-height: 3.5rem
				text-align: left
		> .card-type-wrapper
			> select
				@extend %full-select
	> .delivery
		margin-bottom: 1.5rem
		display: none
	> .c-group
		@extend %checkbox-container
		&.different-delivery-address-wrapper
			margin-top: 1.5rem
	.small
		@extend %small
		display: block
		margin: 1rem 0
	> .continue
		@extend %next-action-button