// Standard styles for module

.pass-recovery
	> .back
		@extend %back-button
	> .request
		@extend %content-container
		> .title
			@extend %base-headline
			font-size: 1.5rem
		> label
			@extend %field-in-label
		> .send
			@extend %next-action-button
	&.re-login
		> .request
			> .title
				font-size: 1.25rem
				margin-bottom: -0.25rem
			> .you-have-got-a-wrong-guy-I-do-not-know-him-let-me-out-of-here,
			> .forgot
				display: block
				margin-bottom: 1rem