// Standard styles for module

.payment-options
	padding-right: 0
	width: 100%	
	margin-bottom: 1rem
	@extend %simple-flex
	> li
		background-color: $white
		width: 25%
		margin-right: 0.5rem
		> img
			display: block
			width: 100%
			height: auto
			position: relative
		&:last-child
			margin-right: 0