// Standard styles for module

.payment-options
	background-color: $fn-almost-white
	padding: 0.45rem
	padding-right: 0
	width: 100%
	@extend %insider
	@extend %clearfix
	> li
		background-color: $white
		border-right: 0.45rem solid $fn-almost-white
		width: 25%
		float: left
		@extend %insider
		> img
			display: block
			width: 100%
			height: auto
			position: relative