// Standard styles for module

.variant-matrix
	@extend %content-container
	position: relative
	> .loading
		display: block
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 199
		background: rgba(0, 0, 0, 0.25) url(../img/diagonal-pattern.png) repeat left top
		> .spinner
			margin: 30px auto 0
			width: 70px
			text-align: center
			> div
				width: 18px
				height: 18px
				background-color: white
				border-radius: 100%
				display: inline-block
				-webkit-animation: variant-matrix-loader 1.4s infinite ease-in-out
				animation: variant-matrix-loader 1.4s infinite ease-in-out
				-webkit-animation-fill-mode: both
				animation-fill-mode: both
			> .bounce1
				-webkit-animation-delay: -0.32s
				animation-delay: -0.32s
			> .bounce2
				-webkit-animation-delay: -0.16s
				animation-delay: -0.16s
	> li
		display: block
		padding-top: 1.5rem
		&:first-child
			padding-top: 0.5rem
		> h3
			@extend %base-headline
			font-size: 1.25rem
			padding: 0.5rem
			border-top: 1px solid $fn-gray-medium
			background-color: $fn-almost-white
		> ul
			display: block
			> .product-single,
			> .product-single > .ghost
				+flexbox()
				padding: 0.5rem
				border-top: 1px solid $fn-gray-light
				position: relative
				&:first-child
					border-top: none
				> .information,
				> .action
					+flex(auto)
					width: 50%
				> .information
					line-height: 1.25
					> h4
						@extend %base-headline
					> .relative-price
						color: $fn-gray-medium
						font-size: 0.85rem
				> .action
					text-align: right
					min-width: 11rem
					> .reco-price
						display: block
						color: $fn-gray-medium
						font-size: 0.85rem
						text-align: right
						text-decoration: line-through
				&.active
					background-color: $fn-yellow
				> .ghost
					position: absolute
					@extend %insider
					left: 0
					top: 0
					background-color: $fn-yellow-medium
					border: none
					z-index: 100
				> .message
					position: absolute
					display: none
					@extend %insider
					left: 0
					top: 0
					padding: 0.5rem
					background-color: $white
					text-align: center
					width: 100%
					font-weight: bold

@-webkit-keyframes variant-matrix-loader
	0%, 80%, 100%
		-webkit-transform: scale(0.0)
	40%
		-webkit-transform: scale(1.0)

@keyframes variant-matrix-loader
	0%, 80%, 100%
		transform: scale(0.0)
		-webkit-transform: scale(0.0)
	40%
		transform: scale(1.0)
		-webkit-transform: scale(1.0)