// Standard styles for module

.variant-matrix
	display: block
	background-color: $white
	padding: 0.5rem
	> li
		display: block
		padding-top: 1.5rem
		&:first-child
			padding-top: 0.5rem
		> h3
			@extend %base-headline
			font-size: 1.25rem
			padding: 0.5rem
			border-top: 1px solid $fn-gray-medium
			background-color: $fn-almost-white
		> ul
			display: block
			> .product-single,
			> .product-single > .ghost
				display: -webkit-flex
				display: flex
				-webkit-flex-direction: row
				flex-direction: row
				padding: 0.5rem
				border-top: 1px solid $fn-gray-light
				position: relative
				&:first-child
					border-top: none
				> .information,
				> .action
					-webkit-flex: auto
					flex: auto
					width: 50%
				> .information
					line-height: 1.25
					> h4
						@extend %base-headline
					> .relative-price
						color: $fn-gray-medium
						font-size: 0.85rem
				> .action
					text-align: right
					min-width: 11rem
					> .reco-price
						display: block
						color: $fn-gray-medium
						font-size: 0.85rem
						text-align: right
				&.active
					background-color: $fn-yellow
				> .ghost
					position: absolute
					@extend %insider
					left: 0
					top: 0
					background-color: $fn-yellow-medium
					border: none
					z-index: 100
				> .message
					position: absolute
					display: none
					@extend %insider
					left: 0
					top: 0
					padding: 0.5rem
					background-color: $white
					text-align: center
					width: 100%
					font-weight: bold