// Standard styles for module

footer
	display: block
	background-color: $fn-gray-light
	@extend %clearfix
	margin: 0.5rem $base-mass * -0.5 0 $base-mass * -0.5
	padding: $base-mass * 0.5
	padding-top: 1rem
	> .delivery-options,
	> .return-options,
	> .newsletter-link,
	> .help-link
		@extend %secondary-button
		margin-bottom: 0.5rem
		height: 40px
		> span
			line-height: 2.5rem
		&:before
			@extend %cap-left-secondary
			line-height: 2.6rem
	> .newsletter-link,
	> .help-link
		width: calc(50% - 0.25rem)
		float: left
	> .newsletter-link
		margin-right: 0.5rem
	> .footer-links
		display: block
		text-align: center
		font-size: 0.7rem
		> .desktop-version-link
			display: inline-block
			color: $fn-gray
			margin: 0.5rem 0 1rem 0
		> ul
			@extend %clearfix
			@extend %simple-flex
			margin-bottom: 1rem
			> li
				margin: 0
				> a
					display: block
					color: $fn-gray
					> span
						display: block
						border-left: 1px solid $fn-gray
						line-height: 0.65rem
						padding: 0 0.35rem 0 0.45rem
				&:first-child
					> a
						> span
							border-left: 0
							padding-left: 0
				&:last-child
					> a
						> span
							padding-right: 0