// Standard styles for module

.filtering
	display: block
	@extend %clearfix
	margin: 0.5rem 0 0rem 0
	> .select-icon
		@extend %cap-left
		+box-shadow(0 2px 2px rgba(0, 0, 0, 0.25))
		position: relative
		float: left
		color: $white
	> .filtering-area
		@extend %secondary-button
		font-size: 1rem
		display: block
		float: left
		width: calc(50% - 0.25rem)
		padding-left: 2.5rem
		> select
			@extend %away
			font-size: 1rem
		> span
			padding-top: 0.75rem
			&:before
				@extend %cap-left
				background: transparent
				content: "\e3b1"
		&.open
			> span
				&:before
					content: "\e3b2"
		&:nth-child(odd)
			margin-right: 0.5rem
		&.disabled
			color: $white
			+box-shadow(none)
			background-image: none
			background-color: transparentize($fn-gray-light, 0.5)
			cursor: default
			&:hover,
			&:focus,
			&:active
				background-color: transparentize($fn-gray-light, 0.5)