// Standard styles for module

.filtering
	display: block
	@extend %clearfix
	margin: 0.5rem 0 0rem 0
	> a
		@extend %primary-button
		display: block
		float: left
		width: calc(50% - 0.25rem)
		&:first-child
			margin-right: 0.5rem
		> span
			&:before
				@extend %cap-left
				content: "\e3b1"
		&.open
			> span
				&:before
					content: "\e3b2"