%common-transition
	+addTransition

%no-transition
	+removeTransition

%pure
	padding: 0
	margin: 0
	border: 0
	outline: none

%fe-norm
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	-webkit-border-radius: 0px
	-moz-border-radius: 0px
	border-radius: 0px


%clearfix
	&:after
		content: ""
		display: table
		clear: both

%away
	@media screen
		position: absolute !important
		height: 1px
		width: 1px
		overflow: hidden
		clip: rect(1px, 1px, 1px, 1px)

%insider
	+box-sizing(border-box)

%simple-flex
	+flexbox()
	> *
		+flex(auto)
